<div class="container">
    <ul class="main-links col-xs-12">
        <li class="main-li col-sm-2">
            <div class="footer-tag">
                <a href="/en/about/"> About </a>
                <a class="footer-toggle" data-toggle="collapse" href="#about" aria-expanded="false">
                    <i class="fa fa-plus"></i> <i class="fa fa-minus"></i> </a>
            </div>
            <div id="about" class="dropdown collapse">
                <ul>
                    <li><a href="/en/about/principal-s-words.html">Principal's words</a></li>
                    <li><a href="/en/about/history.html">History</a></li>
                    <li><a href="/en/about/ezoe-method.html">Ezoe method</a></li>
                    <li><a href="/en/about/vlj.html">VLJ</a></li>
                    <li><a href="/en/about/deaf-education.html">Deaf Education</a></li>
                    <li><a href="/en/about/japanese-teachers.html">Japanese teachers</a></li>
                </ul>
            </div>
        </li>
        <li class="main-li col-sm-2">
            <div class="footer-tag">
                <a href="/en/course/"> Course </a>
                <a class="footer-toggle" data-toggle="collapse" href="#course" aria-expanded="false">
                    <i class="fa fa-plus"></i> <i class="fa fa-minus"></i> </a>
            </div>
            <div id="course" class="dropdown collapse">
                <ul>
                    <li><a href="/en/course/weekday-japanese-course.html">General Japanese Course</a></li>
                    <li><a href="/en/course/preparatory-course.html">Preparatory course</a></li>
                    <li><a href="/en/course/short-term-course.html">Short term course</a></li>
                    <li><a href="/en/course/evening-class.html">Evening classes</a></li>
                    <li><a href="/en/course/saturday-class.html">Saturday classes</a></li>
                    <li><a href="/en/course/kanji.html">Kanji</a></li>
                    <li><a href="/en/course/private-lessons.html">Private lessons</a></li>
                    <li><a href="/en/course/pricing.html">Pricing</a></li>
                </ul>
            </div>
        </li>
        <li class="main-li col-sm-2">
            <div class="footer-tag">
                <a href="/en/campus-life/"> Campus Life </a>
                <a class="footer-toggle" data-toggle="collapse" href="#campus-life" aria-expanded="false">
                    <i class="fa fa-plus"></i> <i class="fa fa-minus"></i> </a>
            </div>
            <div id="campus-life" class="dropdown collapse">
                <ul>
                    <li><a href="/en/campus-life/students-experience.html">Students' experiences</a></li>
                    <li><a href="/en/campus-life/useful-information.html">Useful information</a></li>
                    <li><a href="/en/campus-life/housing.html">Housing</a></li>
                    <li><a href="/en/campus-life/scholarship.html">Scholarship</a></li>
                    <li><a href="/en/campus-life/sng-monthly-magazine.html">Monthly magazine</a></li>
                </ul>
            </div>
        </li>
        <li class="main-li col-sm-2">
            <div class="footer-tag">
                <a href="/en/support/"> Support </a>
                <a class="footer-toggle" data-toggle="collapse" href="#support" aria-expanded="false">
                    <i class="fa fa-plus"></i> <i class="fa fa-minus"></i> </a>
            </div>
            <div id="support" class="dropdown collapse">
                <ul>
                    <li><a href="/en/support/higher-education.html">Higher education</a></li>
                    <li><a href="/en/support/recommendation.html">Designated school recommendation</a></li>
                </ul>
            </div>
        </li>
        <li class="main-li col-sm-2">
            <div class="footer-tag">
                <a href="/en/admission/"> Admission </a>
                <a class="footer-toggle" data-toggle="collapse" href="#admission" aria-expanded="false">
                    <i class="fa fa-plus"></i> <i class="fa fa-minus"></i> </a>
            </div>
            <div id="admission" class="dropdown collapse">
                <ul>
                    <li>
                        <a href="/en/admission/application-download.html"> Application Download </a>
                    </li>
                    <li>
                        <a href="/en/admission/student-visa-application-long-term-course.html"> Student visa application </a>
                    </li>
                    <li>
                        <a href="/en/admission/online-payment.html"> Online payment </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="main-li col-sm-2">
            <div class="footer-tag">
                <a href="/en/contact/"> Contact </a>
                <a class="footer-toggle" data-toggle="collapse" href="#blog" aria-expanded="false">
                    <i class="fa fa-plus"></i> <i class="fa fa-minus"></i> </a>
            </div>
            <div id="blog" class="dropdown collapse">
                <ul>
                    <li>
                        <a href="/en/contact/general-inquiry.html">General Inquiry </a>
                    </li>
                    <li>
                        <a href="/en/contact/corporate.html">For company </a>
                    </li>
                    <li>
                        <a href="/en/contact/long-term-application.html">Long-Term Courses Application </a>
                    </li>
                    <li>
                        <a href="/en/contact/short-term-application.html">Short-Term Courses Application </a>
                    </li>
                    <li>
                        <a href="/en/contact/private.html">Private Lessons Application </a>
                    </li>
                    <li>
                        <a href="/en/contact/saturday-and-evening.html">Saturday &amp; evening class application </a>
                    </li>
                    <li>
                        <a href="/en/contact/access.html">Access </a>
                    </li>
                    <li>
                        <a href="/en/contact/overseas-offices.html">Overseas offices </a>
                    </li>
                    <li>
                        <a href="/en/contact/external-links.html">External Links </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="mobile-only">
            <div class="footer-tag">
                <a> Link </a> <a class="footer-toggle" data-toggle="collapse" href="#external" aria-expanded="false">
                    <i class="fa fa-plus"></i> <i class="fa fa-minus"></i> </a>
            </div>
            <div id="external" class="dropdown collapse">
                <ul>
                    <li>
                        <a href="https://www.sng.ac.jp/eccube/index.php" target="_blank"> Textbook Store </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="col-xs-12 centereddiv">
        <div class="col-xs-12 col-sm-6 col-md-3 schadress">
            <span>Shinjuku Japanese Language Institute</span><br> <span>1st building<br> 〒169-0075<br> 2-9-7 Takadanobaba Shinjuku-ku Tokyo Japan<br></span>
            <span>TEL</span>:
            <span style="cursor:pointer" onclick="ga('send','event','click-tel','click-tel-footer','click-tel-footer-1st-building');this.innerText='03-5273-0044'">Click to See</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 schadress">
            <span>Shinjuku Japanese Language Institute</span><br> <span>2nd building<br> 〒169-0075 <br> 1-14-15 Takadanobaba Shinjuku-ku Tokyo Japan<br></span>
            <span>TEL</span>:
            <span style="cursor:pointer" onclick="ga('send','event','click-tel','click-tel-footer','click-tel-footer-2nd-building');this.innerText='03-3207-8550'">Click to See</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 schadress">
            <span>Shinjuku Japanese Language Institute</span><br> <span>3rd building<br> 〒169-0051 <br> 3-26-13 Nishi-Waseda, Shinjuku-ku Tokyo Japan <br></span>
            <span>TEL</span>:
            <span style="cursor:pointer" onclick="ga('send','event','click-tel','click-tel-footer','click-tel-footer-3rd-building');this.innerText='03-5273-0753'">Click to See</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 schadress">
            <span>Shinjuku Japanese Language Institute</span><br> <span>Okutama training center</span><br> <span>〒198-0213<br> 32 Umisawa Okutama-machi Nishitamagun Tokyo Japan<br></span>
            <span>TEL</span>:
            <span style="cursor:pointer" onclick="ga('send','event','click-tel','click-tel-footer','click-tel-footer-okutama');this.innerText='03-5273-0044'">Click to See</span>
        </div>
    </div>
    <div class="footer-wrapper">
        <ul class="social-links">
            <li>
                <a onclick="ga('send','event','click-SNS','click-footer','click-SNS-footer-facebook')" href="https://www.facebook.com/sng.japan/" target="_blank"><i class="fa fa-facebook"> </i></a>
            </li>
            <li>
                <a onclick="ga('send','event','click-SNS','click-footer','click-SNS-footer-instagram')" href="https://www.instagram.com/sng_japan/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a onclick="ga('send','event','click-SNS','click-footer','click-SNS-footer-youtube')" href="https://www.youtube.com/channel/UCt3Cir6heyBSK-3nY9SwSpQ" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </li>
            <li class="hidevk">
                <a onclick="ga('send','event','click-SNS','click-footer','click-SNS-footer-vk')" href="https://vk.com/sng.japan" target="_blank"><i class="fa fa-vk"></i></a>
            </li>
        </ul>
        <div class="copyright">
            Copyright © SNG. All rights reserved.
        </div>
    </div>
</div>
