<header>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KD3R4TM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="top-navbar">
        <div class="cover_box">
            <div class="top-links-wrapper">
                <ul class="external-links">
                    <li><a onclick="ga('send','event','click-link-out','click-header','click-LO-header-textbook-store')" href="https://www.sng.ac.jp/eccube/index.php" target="_blank">Textbook Store</a></li>
                    <li><a onclick="ga('send','event','click-link-out','click-header')" href="https://www.sng.ac.jp/teacher-training/" target="_blank">Teacher Training Course</a></li>
                </ul>
                <ul class="social-links">
                    <li><a onclick="ga('send','event','click-SNS','click-header','click-SNS-header-facebook')" href="https://www.facebook.com/sng.japan/" target="_blank"><i class="fa fa-facebook-f"> </i></a></li>
                    <li><a onclick="ga('send','event','click-SNS','click-header','click-SNS-header-instagram')" href="https://www.instagram.com/sng_japan/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a onclick="ga('send','event','click-SNS','click-header','click-SNS-header-youtube')" href="https://www.youtube.com/channel/UCt3Cir6heyBSK-3nY9SwSpQ" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="hidevk"><a onclick="ga('send','event','click-SNS','click-header','click-SNS-header-vk')" href="https://vk.com/sng.japan" target="_blank"><i class="fa fa-vk"></i></a></li>
                </ul>
            </div>
            <div class="lang-toggle-wrapper">
                <span>Language/言語 </span>
                <a class="lang-toggle" data-toggle="collapse" href="#lang" aria-expanded="false">
                    <i class="fa fa-angle-down"></i>
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
            <div id="lang" class="lang-dropdown collapse">
                <div class="current-wrapper">
                    Current Language:
                    <span id="current-lang">English</span>
                </div>
                <ul class="lang-options">
                    <li><a href="https://www.sng.ac.jp/jp/">日本語</a></li>
                    <li><a href="https://www.sng.ac.jp/de/">Deutsch</a></li>
                    <li><a href="https://www.sng.ac.jp/en/">English</a></li>
                    <li><a href="https://www.sng.ac.jp/fr/">Français</a></li>
                    <li><a href="https://www.sng.ac.jp/id/">Indonesian</a></li>
                    <li><a href="https://www.sng.ac.jp/it/">Italiano</a></li>
                    <li><a href="https://www.sng.ac.jp/pt/">Português</a></li>
                    <li class="russian"><a href="https://www.sng.ac.jp/ru/">Pу́сский</a></li>
                    <li><a href="https://www.sng.ac.jp/cn/">简体字</a></li>
                    <li><a href="https://www.sng.ac.jp/tw/">繁体字</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fluid-navbar">
        <div class="fluid-navbar-inner id-header-fluid-navbar-inner-container">
            <div class="fluid-container id-header-fluid-navbar-inner">
                <a href="/{_locale}/" class="sng_logo"><img src="{{ asset('logo.svg', 'img') }}" width="100%"></a>
                <a class="fluid-toggle" data-toggle="collapse" href="#fluid" aria-expanded="false">
                    <i class="fa fa-bars fa-2x"></i>
                </a>
            </div>
            <div id="fluid" class="fluid-dropdown collapse id-header-fluid-dropdown">
                <div class="id-header-fluid-dropdown-content">
                    <ul class="main-links">
                        <li><a href="/en/about/">ABOUT</a></li>
                        <li><a href="/en/course/">COURSE</a></li>
                        <li><a href="/en/campus-life/">CAMPUS LIFE</a></li>
                        <li><a href="/en/support/">SUPPORT</a></li>
                        <li><a href="/en/admission/">ADMISSION</a></li>
                        <li><a href="/en/contact/">CONTACT</a></li>
                    </ul>
                    <ul class="social-links">
                        <li><a onclick="ga('send','event','click-SNS','click-SNS-header','click-SNS-header-facebook')" href="https://www.facebook.com/sng.japan/" target="_blank"><i class="fa fa-facebook-f"> </i></a></li>
                        <li><a onclick="ga('send','event','click-SNS','click-SNS-header','click-SNS-header-instagram')" href="https://www.instagram.com/sng_japan/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a onclick="ga('send','event','click-SNS','click-SNS-header','click-SNS-header-youtube')" href="https://www.youtube.com/channel/UCt3Cir6heyBSK-3nY9SwSpQ" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="hidevk"><a onclick="ga('send','event','click-SNS','click-header','click-SNS-header-vk')" href="https://vk.com/sng.japan" target="_blank"><i class="fa fa-vk"></i></a></li>
                        <li class="hidevk"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>